/**
 * Common
 */

.center {
	text-align: center;
}

/**
 * Site header
 */

.site-header {
    min-height: $nav-height;
	@include media-query($on-palm) {
        margin-top: $mobile-ribbon-height;
    }
}

.facebook-icon {
    @include basic-icon("../images/icons/facebook.svg");
}
.instagram-icon {
	@include basic-icon('../images/icons/instagram.svg');
}
.pinterest-icon {
	@include basic-icon('../images/icons/pinterest.svg');
}
.search-icon {
	@include basic-icon('../images/icons/search.svg');
}

#floating-side-menu {
    width: $floating-side-menu-width;
    left: 0;
    top: 30%;
    background-color: #fff;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9999;
    line-height: 100%;
    font-size: 0;
}

.title-bar {
    .table-left {
        @include table-cell(left, 20%);
    }
    .site-logo {
        @include table-cell(center, 60%);
    }
    .table-right {
        @include table-cell(right, 20%);
    }
}

.site-nav {
    text-align: center;
    line-height: $nav-height;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
    }

    &.fixed {
      position:fixed;
      top:0px;
      z-index:999;
      background: $background-color;
      width: 100%;
    }

    &.menu {
      display: block;
      z-index:999;
    }

    @include media-query($on-palm) {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        background-color: $background-color;
        padding-left: 0;
        padding-right: 0;

        a.page-link {
            display: block;
            font-size: 2em;
        }
    }
}

.addnavsizemargin
{
    margin-top: $nav-height;
    @include media-query($on-palm) {
        margin-top: 0;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 0;
    padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
	text-align: center;
}


.footer-block {
	/*float: none;*/
	margin: $spacing-unit;
	/*width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	width:         calc(100% - (#{$spacing-unit} / 2));*/
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-tags {
    text-align: center;
    padding: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin: $spacing-unit;
    text-align: center;
    font-size: $small-font-size;
    color: $grey-color;
}


.post-link {
    //border: 1px solid $grey-color;
    display: inline-block;
    font-size: 24px;
    margin: $spacing_unit / 2;
    width: $post-image-width;
    height: $post-image-height;
    overflow: hidden;
}

@include media-query($on-palm) {
    .post-link {
        display: inline-block;
        font-size: 24px;
        margin: $spacing_unit / 2;
        width: 98%;
        height: 100%;
    }
}


/**
 * Posts
 */
.post-header {
    text-align: center;
    margin-bottom: $spacing-unit;

    .post-tags {
        padding: $spacing-unit;
    }
}

.post-title {
    text-align: center;
    font-size: 42px;
    margin: $spacing-unit;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    .post-intro {
        text-align: center;
        font-style: oblique;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Posts grid
 */

.grid-item-whole {
    position: relative;

    img {
        margin: 0 auto;
        display: block;

    }
}

.grid-item-text {
    padding-top: 30%;
    background: black;
    opacity: 0;
    position: absolute;
    top: $spacing-unit / 2;
    bottom: $spacing-unit / 2;
    left: $spacing-unit / 2;
    right: $spacing-unit / 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 0.7;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}

.grid-text-category
{
    color: white;
    text-align: center;
    font-size: $small-font-size;
}

.grid-text-title
{
    color: white;
    text-align: center;
}

@include media-query($on-palm) {

    .grid-item-whole {
        position: relative;
    }

    .grid-item-text {
        padding-top: $spacing-unit * 1.5;
        background: $background-color;
        opacity: 1;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    .grid-text-category
    {
        margin-top: 0;
        color: $text-color;
        text-align: center;
        font-size: $small-font-size;
    }

    .grid-text-title
    {
        color: $text-color;
        text-align: center;
    }
}

.img{
    width: $post-image-width;
    height: $post-image-height;
    background-size: cover;
}

@include media-query($on-palm) {
    .img {
        width: 100%;
        height: $post-image-height;
        background-size: cover;
        overflow: hidden;
    }
}
