---
layout: default
---
<div class="home">

  <h1 class="page-heading">{{ page.category }}</h1>

  <div class="post-list">
    {% for post in site.categories[page.category] %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="grid-item-whole">
              <div class="img" style="background-image:url('{{post.image | prepend: '../images/'}}')"></div>
              <div class="grid-item-text">
                  <h4 class="grid-text-category">
                        {{ post.tags | join: ' • ' | upcase }}
                  </h4>
                  <h3 class="grid-text-title">{{ post.title }}</h3>
              </div>
          </div>
      </a>
    {% endfor %}
  </div>
</div>
